*{
  margin: 0;
  padding: 0;
  margin-top: -3%;
  box-sizing: border-box;

}

body{
  background-image: url(../image/library.jpg);
}

.container{
  display: none;
}
img{
  position: absolute;
  display: block;
  top: 45%;
  left: 45%;
}

.ic{
  width: 10%;
}
.con{
  /* position: relative; */
  display: block;
}

.ican{
  z-index: 1;
  width: 10%;
  position: absolute;
  top: 45%;
  left: 45%;
}

@media screen and (max-width:1080px)
{
  .ican
  {
    width: 20%;
  }
  .ic{
  width: 20%;
  }
}
